body {
   display: 		      flex;
   flex-direction:	   column;
   justify-content:     center;
   align-items: 	      center;
   height:              100vh;
   font-family:         'courier-new', monospace;
   background-image:    linear-gradient(
                        to bottom, 
                        #0b0b1f,
                        #00021c);
   overflow-y:          clip;
}

button {

   font-family:         'courier-new', monospace;
}

.welcomeSection {
   font-family:         "Times New Roman", Times, serif;
   display:             flex;
   flex-direction:      column;
   color:               #deffe7;
}

.welcomeToText {
   font-family:         "Times New Roman", Times, serif;
   font-size:           40px;
   margin-bottom:       -50px
}

.keplaText {
   font-size:           200px;
   margin:              0px;
   margin-bottom:       50px;


}

.infoSection {
   display:             flex;
   flex-direction:      column;
   height:              350px;
   gap:                 10px;
   color:               #deffe7;
}

.uiBox {
   border:              1px solid #373957;
   border-radius:       5px;
   background-image:    linear-gradient(
                        to bottom, 
                        #16173380, 
                        #0a0b2180);
   transition-duration: 0.4s;
}

.uiBox:hover{
   border:              1px solid #535773;
}

.recentUpdates {
   width:               500px;
   height:              85px;
}

.updatesHeader {
   width:               500px;
   height:              15px;
   color:               #60f07f;
   font-size:           15px;
   font-weight:         bold;
   padding-left:        10px;
}

.menuPanel {
   display:             flex;
   flex-direction:      column;
   align-items:         center;
   justify-content:     center;

   width:               500px;
   height:              130px;
}

.menuPanel > button {
   width:               500px;
   height:              30px;

   background:          none;
   border:              none;

   color:               #deffe7;
   text-align:          center;
   line-height:         1;
   font-size:           17px;
   transition-duration: 0.2s;
}

.menuPanel > button:hover {
   background-color:    #e0e0e033;
}


